includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 5
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
        - test/phpstan/bootstrap.php
    paths:
        - authors.php
        - includes/
        - templates/
    ignoreErrors:
